@import "../../styles/abstract/variables";

.task {
	display: flex;
	flex-direction: column;
	background-color: rgba($color-primary-light-1, 1);
	width: clamp(50%, 66rem, 75rem);

	padding: .8rem 1.5rem;
	padding-left: 1.7rem;
	gap: 3.2rem;
	font-size: 1.15rem;
	box-shadow: $shadow-light;
	border-radius: 3px;

	position: relative;

	&__decorator {
		position: absolute;
		top: 0;
		left: 0;
		width: 1.2%;
		height: 100%;
		z-index: 0;
		border-radius: inherit;
	}

	&__heading,
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > * {
			display: flex;
			align-items: center;
		}
	}

	&__name {
		font-size: 1.4rem;
		font-weight: 600;
		color: $color-primary-dark-3;
	}

	&__time {
		margin-left: 1.7rem;
		font-weight: 650;
	}

	&__dueDate {
		margin-left: .7rem;
		margin-right: auto;
		transform: translateY(-2px);
		font-weight: 600;
	}

	&__time,
	&__dueDate {
		color: rgba($color-primary-dark-1, .8);
	}

	&__select {
		border-radius: 3px;
		padding: .5rem .6rem;
		font-size: inherit;
	}

	.icon {
		font-size: 120%;
		max-width: 22.5px;
		margin-right: 5px;
		color: $color-primary-dark-3;
	}

	&__icon_small {
		max-width: .35rem;
		font-size: 30%;
		margin: 0 5px;
	}

	&__body {
		font-size: inherit;
	}

	&__category {
		display: flex;
		align-items: center;
		padding-right: 1rem;
		border-right: 2.5px solid $color-primary-dark-3;

		.icon {
			margin-right: .5rem;
			color: rgb(29, 78, 216);
		}
	}

	&__importance {
		margin-left: 1rem;
		padding-right: 1rem;
		border-right: 2.5px solid $color-primary-dark-3;
		.icon {
			color: $color-amber-dark-1;
		}
	}

	&__status {
		margin-left: 1rem;
		margin-right: auto;

		.icon {
			color: inherit;
		}
	}

	&__detail,
	&__edit {
		padding: .3rem .6rem;
		border-radius: 3.5px;
		min-width: 5.5rem;

		.icon {
			display: inline-block;
			color: inherit;
		}
	}

	&__detail {
		margin-right: 1rem;
		border: 2px solid rgb(2, 132, 199);
		background-color: rgba(224, 242, 254, .7);
		color: $color-secondary-dark-4;

		&:hover {
			background-color: rgb(2, 132, 199);
			color: $color-secondary-light-1;
		}
	}

	&__edit {
		border: 2px solid rgb(219, 39, 119);
		background-color: rgba(251, 231, 243, .7);
		color: rgb(157, 23, 77);

		&:hover {
			background-color: rgb(219, 39, 119);
			color: rgb(253, 242, 248);
		}
	}
}
