.card {
    .status-checker {
        visibility: hidden;
    }

    &:hover {
        transform: translate(-50%, -1rem) !important;
        .status-checker {
            // display: block;
            visibility: visible;
        }
    }
}
