@import '../../../styles/abstract/variables';
@import '../../../styles/abstract/mixins';

@mixin show-detail {
    p {
        padding-top: 1rem;
        visibility: visible;
        opacity: 1;
        height: 14rem;
    }
}

.panel {
    width: 100%;
    min-height: 5rem;

    background: linear-gradient(
            217deg,
            lighten($color-indigo-light-3, 10%),
            rgba(255, 0, 0, 0) 70.71%
        ),
        linear-gradient(127deg, $color-tertiary-light-2, rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, $color-secondary-light-3, rgba(0, 0, 255, 0.1) 70.71%);

    border-radius: 5px;

    color: $color-primary-dark-3;
    padding: 1.1rem 2rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 2rem;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    cursor: pointer;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
        grid-row-gap: 0.5rem;
    }

    @include respond(phone) {
        grid-row-gap: 0;
    }

    h2 {
        font-size: 2.1rem;
        color: $color-grey-dark-4;
        font-weight: 500;
    }

    p {
        font-size: 1.2rem;
        padding: 0.5rem 3rem;
        padding-left: 9rem;
        text-align: left;
        justify-self: center;
        transition: all 0.5s ease-out;

        @include respond(tab-land) {
            padding-left: 4.5rem;
        }

        @include respond(tab-port) {
            padding-left: 0;
        }

        @include respond(phone) {
            padding: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
        }
    }

    &:hover {
        @include respond(phone) {
            @include show-detail;
        }
    }
}

.panel.detail {
    @include show-detail;
}

.emptyContainer {
    min-height: 1rem;
    width: 100%;
    position: relative;
}

.exit,
.show {
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
    color: $color-primary-dark-3;

    &:hover {
        color: $color-tertiary-dark-2;
        transform: scale(115%);
    }
}

.exit {
    top: 1rem;
    right: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    font-size: 1.7rem;
}

.show {
    right: 1rem;
    top: -5px;
    max-width: 3rem;
    max-height: 3rem;
    font-size: 2.1rem;
}
