.modal {
    position: fixed;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 130;

    animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        top: -2rem;
    }
    100% {
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
    }
}
