@import '../../../../styles/main';
.modal {
    display: flex;
    flex-direction: column;
    color: $color-primary-dark-3;
    font-size: 1.2rem;
    padding: 0.7rem 1.4rem !important;
    gap: 0.5rem;

    @include respond(600px) {
        font-size: 1.1rem;
    }

    // Heading on the very top.
    h2 {
        font-size: 1.875rem /* 30px */;
        line-height: 2.25rem /* 36px */;
        border-bottom-width: 2px;
        white-space: nowrap;
        overflow: hidden;
        border-bottom: 2px solid $color-tertiary;
        padding-bottom: 0.5rem;

        @include respond(phone) {
            font-size: 1.5rem;
        }

        @include respond(430px) {
            font-size: 1.3rem;
        }
    }

    // Top navigation right below heading.
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(400px) {
            h5 {
                display: none;
            }
        }

        h5 {
            font-size: 1.2rem;
            color: $color-primary-dark-1;
            font-weight: 600;
            margin-bottom: -8px;
        }

        .navigation {
            display: flex;
            gap: 0.5rem;
        }

        .navbtn {
            padding: 0.2rem 0.1rem;
            padding-bottom: 0;
            @include underline-from-middle;
        }

        .navbtn-active,
        .navbtn:hover {
            color: $color-tertiary-dark-1;

            &::after {
                width: 100%;
                background-color: $color-tertiary;
            }
        }
    }

    .exit {
        @include exit-btn;
        font-size: 1.7rem;
    }

    .grid {
        padding-top: 0.5rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(70px, auto);
        grid-row-gap: 0.75rem;
    }

    .item {
        display: flex;
        flex-direction: column;

        .label ~ .danger {
            color: rgba(lighten($color-rose-dark-1, 5%), 0.9);
        }
    }

    .longitem {
        grid-column: 1 / -1;
    }

    .icon {
        font-size: 105%;
        margin-right: 0.4rem;
        max-width: 1.35rem;
        color: $color-tertiary-dark-1;
        display: inline-block;
    }

    .rating {
        margin-left: 0.8rem;
    }
}
