/* 
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
1200 - 1800px: is where our normal style applies
1800 + : Big Desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/
.huge-heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 3.5rem;
  font-weight: 400;
}

.app-heading {
  font-size: 2.8rem;
  line-height: 3rem;
}

@media only screen and (max-width: 75em) {
  .app-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: tab-land) {
  .app-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .app-heading {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: phone) {
  .app-heading {
    font-size: 2.2rem;
  }
}

.status-open {
  color: #0f766e !important;
}

.status-open-bg {
  background-color: rgba(15, 118, 110, 0.6) !important;
}

.status-completed {
  color: #0369a1 !important;
}

.status-completed-bg {
  background-color: rgba(3, 105, 161, 0.6) !important;
}

.status-inprogress {
  color: #4338ca !important;
}

.status-inprogress-bg {
  background-color: rgba(67, 56, 202, 0.6) !important;
}

.status-overdue {
  color: #f55772 !important;
}

.status-overdue-bg {
  background-color: rgba(245, 87, 114, 0.6) !important;
}

.status-cancelled {
  color: #999;
}

.status-cancelled-bg {
  background-color: rgba(153, 153, 153, 0.6);
}

@-webkit-keyframes UpDown {
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes UpDown {
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes AppearFromLeft {
  from {
    max-width: 0;
  }
  to {
    max-width: 1000px;
  }
}

@keyframes AppearFromLeft {
  from {
    max-width: 0;
  }
  to {
    max-width: 1000px;
  }
}

@-webkit-keyframes Spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.icon-basic {
  max-width: 2.1rem;
  cursor: pointer;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  color: #334155;
  padding: .7rem 1.4rem;
  width: 32rem;
  left: calc(50% - 16rem);
}

.mui-light-select .MuiOutlinedInput-root {
  color: white;
  z-index: 2;
}

.mui-light-select .MuiInputLabel-formControl {
  color: white !important;
  z-index: 3;
}

.mui-light-select .MuiSvgIcon-root {
  color: white;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  color: #334155;
  font-size: 1.2rem;
  padding: .7rem 1.4rem;
  width: 38rem;
  left: calc(50% - 19rem);
}

.modal > *:not(:first-child) {
  margin-top: 1rem;
}

.modal h2 {
  margin-top: 0 !important;
  font-size: 2.2rem;
  position: relative;
}

.modal h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1e293b), to(#e2e8f0));
  background-image: linear-gradient(to right, #1e293b, #e2e8f0);
}

.modal .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .navbar h5 {
  font-size: 1.2rem;
  color: #64748b;
  font-weight: 600;
  margin-bottom: -8px;
}

.modal .navbar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}

.modal .navbar .navbtn {
  border: none;
  color: #2563eb;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: .25rem .7rem;
  min-width: 5rem;
}

.modal .navbar .navbtn-active,
.modal .navbar .navbtn:hover {
  background-color: #3b82f6;
  color: #eff6ff;
  -webkit-box-shadow: 0 0rem 5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0rem 5rem rgba(0, 0, 0, 0.15);
}

.modal .exit {
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #334155;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  max-width: 2rem;
  max-height: 2rem;
  font-size: 1.2rem;
  z-index: 10;
  font-size: 1.7rem;
}

.modal .exit:hover {
  color: #1d4ed8;
  -webkit-transform: scale(115%);
          transform: scale(115%);
}

.modal .grid {
  padding-top: .5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(70px, auto);
  grid-row-gap: 13px;
}

.modal .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .2rem;
}

.modal .item .value {
  color: #475569;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .item .label ~ .danger {
  color: rgba(245, 87, 114, 0.9);
}

.modal .longitem {
  grid-column: 1 / -1;
}

.modal .actions {
  padding-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.modal .icon {
  font-size: 105%;
  margin-right: .4rem;
  max-width: 1.35rem;
  color: #075985;
  display: inline-block;
}

.modal .rating {
  margin-left: .8rem;
}
/*# sourceMappingURL=TaskDetail.module.css.map */