@import '../../styles/main';

@mixin hide-side {
    grid-template-rows: max-content 1fr min-content;
    .content {
        justify-self: center;
        grid-row: 2 / span 1;
        grid-column: 1 / -1;
        width: 100%; // added
    }

    .sidenav {
        display: none;
    }

    .footer {
        grid-row: 3 / span 1;
    }
}

.app {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    max-width: 100vw;

    $delay: 0.6s;

    transition: all $delay ease-in-out;
    justify-content: center;

    .header {
        grid-column: 1 / -1;
    }

    .content {
        transition: all $delay ease-in-out;
    }

    .footer {
        grid-column: 1 / -1;
        justify-self: center;
    }

    // for tablet land to mobile screens
    .full-screen-navigation {
        display: none;
        @include respond(1100px) {
            display: block;
        }
    }

    @include respond(1100px) {
        @include hide-side;
    }
}

.hide-side {
    @include hide-side;
}
