@import '../../../styles/abstract/variables';
@import '../../../styles/abstract/mixins';
@import '../../../styles/abstract/functions';

$filter-break-point: 1250px;
@mixin narrow-screen-dipslay {
    display: none;
    @include respond($filter-break-point) {
        display: block;
    }
}

@keyframes RightIn {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(0);
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1.3rem 0;
    border-radius: 3px;
    height: 100vh;
    filter: brightness(95%);
    background-color: lighten($color-primary-light-1, 10%);
    z-index: 50;
    @include narrow-screen-dipslay;
    animation: RightIn 0.35s ease-out;

    .calendar-control {
        margin-top: 0;
        padding: 0 0.5rem;
        min-width: 13rem;

        @include respond(500px) {
            min-width: 12rem;
        }
    }

    .item-create {
        @include respond($filter-break-point) {
            max-width: 100%;
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    @include narrow-screen-dipslay;
}

.control-container {
    display: flex;
    flex-direction: column;
    @include respond($filter-break-point) {
        display: none;
    }
    .calendar-control {
        margin-top: -0.47rem;
    }
}
