@import '../../../../styles/abstract/variables';

// Custom button style
.create-button {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 100px;
    border: 1.75px solid $color-primary;

    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;

    & > * {
        cursor: inherit;
    }

    .icon {
        color: $color-secondary-dark-1;
    }

    .text {
        color: $color-tertiary-dark-1;
    }

    &:hover,
    &:focus {
        background-image: linear-gradient(
            to right,
            $color-primary-dark-3,
            $color-primary-dark-2
        );
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);

        .icon {
            color: $color-secondary;
            filter: brightness(115%);
        }

        .text {
            color: $color-tertiary;
            filter: brightness(115%);
        }
    }
}
