@import "../../../../styles/abstract/variables";

// Custom button style
.create-button {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 100px;
    border: 1.75px solid $color-primary;

    -webkit-transition: all 2.5s ease-in-out;
    transition: all 2.5s ease-in-out;

    & > * {
        cursor: inherit;
    }

    .icon {
        color: $color-secondary-dark-1;
    }

    .text {
        color: $color-tertiary-dark-1;
    }

    &:hover {
        background-image: linear-gradient(to right, $color-secondary-light-1, $color-tertiary-light-1);

        .icon {
            // color: $color-secondary-light-2;
        }

        .text {
            // color: $color-tertiary-light-2;
        }
    }
}
