@import '../../../styles/main';

.search {
    flex: 1;
    display: flex;
    font-size: 1.2rem;
    overflow: hidden;

    .input-wrapper {
        display: flex;
        flex: 1;
        border-radius: 3px;
        border: 1.7px solid transparent;
        white-space: nowrap;
        overflow: hidden;
        background-color: #f4f2f2;

        &:focus-within {
            background-color: #f7f7f7;
            border: 1.7px solid $color-tertiary;

            .select,
            .input {
                background-color: inherit;
            }
        }
    }

    .select {
        padding-left: 10px;
        font-size: 0.9em;
        @include respond(600px) {
            padding-left: 4px;
        }
    }

    .input {
        flex: 1;
        padding: 0.25rem 0.8rem;
        border: 1px solid transparent;

        @include respond(420px) {
            max-width: 11rem;
            min-width: 1rem;
        }

        &:focus-within {
            outline: none;
        }
    }

    .button {
        border-radius: inherit;
        font-size: 115%;
        padding: 0.2rem 0.7rem;
        background-color: $color-tertiary-light-3;

        &:hover {
            background-color: $color-tertiary-light-4;
        }
    }
    // icon inside button
    .icon {
        @include icon-basic;
        max-width: 1.7rem;
        min-width: 1.35rem;
    }
}
