@import '../../../styles/main';

.search {
    flex: 1;
    display: flex;
    font-size: 1.2rem;
    background-color: $color-tertiary-light-3;
    border-radius: 5px;

    .input {
        flex: 1;
        min-width: 20rem;
        padding: 0.45rem 0.8rem;
        border: 1px solid transparent;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;

        &:focus {
            outline: none;
            border: 1.5px solid $color-primary;
        }
    }

    .button {
        border-radius: inherit;
        font-size: 115%;
        padding: 0.2rem 0.7rem;
        background-color: inherit;

        &:hover {
            background-color: $color-tertiary-light-4;
        }
    }
    // icon inside button
    .icon {
        @include icon-basic;
        max-width: 1.7rem;
    }
}
