@import '../../../styles/main';

.search {
    flex: 1;
    display: flex;
    font-size: 1.2rem;
    overflow: hidden;

    .input-wrapper {
        display: flex;
        flex: 1;
        border-radius: 3px;
        border: 1.7px solid transparent;

        &:focus-within {
            background-color: #f7f7f7;
            border: 1.7px solid $color-tertiary;

            .select,
            .input {
                background-color: inherit;
            }
        }
    }

    .select {
        padding-left: 7px;
        @include respond(600px) {
            padding-left: 4px;
        }
    }

    .input {
        flex: 1;
        min-width: 20rem;
        padding: 0.45rem 0.8rem;
        border: 1px solid transparent;

        &:focus-within {
            outline: none;
        }
    }

    .button {
        border-radius: inherit;
        font-size: 115%;
        padding: 0.2rem 0.7rem;
        background-color: $color-tertiary-light-3;

        &:hover {
            background-color: $color-tertiary-light-4;
        }
    }
    // icon inside button
    .icon {
        @include icon-basic;
        max-width: 1.7rem;
        min-width: 1.35rem;
    }
}
