@import '../../styles/main';

.heading {
    font-size: 2.8rem;
    line-height: 3rem;

    @include respond(tab-land) {
        font-size: 2.5rem;
    }

    @include respond(phone) {
        font-size: 2rem;
    }
}

.sub-heading {
    font-size: 2.3rem;
    line-height: 2.5rem;

    @include respond(tab-land) {
        font-size: 2.05rem;
    }

    @include respond(phone) {
        font-size: 1.8rem;
    }

    @include respond(phone-small) {
        font-size: 1.7rem;
    }
}

.icon {
    max-width: 1.6rem;
    cursor: pointer;
    display: inline;
}

@mixin home-image {
    border-radius: 3px;
    object-fit: cover;
    box-shadow: $shadow-dark;
}

// Section 1 Introduction
.intro {
    position: relative;
    overflow-y: hidden;
    height: clamp(500px, 94vh, 1200px);

    & > span {
        @include img-background;
    }

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.72;
        left: 0;
        top: 0;
        filter: brightness(70%);
        display: block;
        object-fit: cover;
    }

    .content {
        position: relative;
        z-index: 3;
        color: $color-primary;
        text-align: center;
    }
}

// Section 2 Features
.features {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .img-container {
        display: grid;
        grid-template-columns: repeat(8, 5rem);
        grid-template-rows: repeat(10, 2.25rem);
        position: relative;

        @include respond(tab-port) {
            grid-template-columns: repeat(8, 4rem);
            grid-template-rows: repeat(10, 1.8rem);
        }

        @include respond(phone) {
            grid-template-columns: repeat(8, 3rem);
            grid-template-rows: repeat(10, 1.35rem);
        }

        @include respond(phone-small) {
            grid-template-columns: repeat(8, 2.6rem);
            grid-template-rows: repeat(10, 1.17rem);
        }

        .img-main {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            position: relative;

            & > span {
                height: 100% !important;
                position: absolute;
                top: 0;
                left: 0;
            }
            .feature-img {
                height: 100%;
                object-fit: fill !important;
            }
        }
    }

    .feature-img {
        width: 100%;
        height: 100%;
        @include home-image;
    }

    .feature-reverse {
        .content {
            order: 2;
        }
        .img-container-horizontal {
            order: 3;
        }
    }

    .img-container-horizontal {
        @media only screen and (max-width: 1050px) {
            display: none;
        }
    }
    .img-container-vertical {
        display: none;
        max-height: 20rem;
        overflow: hidden;
        @media only screen and (max-width: 1050px) {
            display: grid;
        }
    }
}

// Section 3 Feedback
.feedback {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2.5fr;

    .content {
        grid-row: 2 / span 1;
    }

    .img-wrapper {
        grid-column: 2 / -1;
        grid-row: 1 / 3;
        max-height: 22rem;
        overflow: hidden;
    }

    .feedback-img {
        @include home-image;
    }

    @include respond(tab-land) {
        .content {
            font-size: 1.1rem;
        }
    }

    // adjust grid layout
    @media only screen and (max-width: 1010px) {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 2fr max-content;
        grid-row-gap: 2rem;

        .heading {
            grid-row: 1/ 2;
        }

        .img-wrapper,
        .content {
            grid-column: 1 / -1;
        }

        .img-wrapper {
            grid-row: 2 / 3;
            max-width: 40rem;
        }

        .content {
            grid-row: 3 / 4;
        }
    }
}
