@import "../../../styles/abstract/variables";

.email {
    position: relative;
    .popup {
        background-color: $color-secondary-light-2;
        padding: .3rem .6rem;
        min-width: 5rem;
        color: $color-secondary;
        position: absolute;
        top: 0;
        left: 0;
        visibility: none;
        opacity: 0;
        border-radius: 3px;
        transition: all .3s ease-in-out;
    }
    &:hover {
        .popup {
            top: 100%;
            visibility: visible;
            opacity: 1;
        }
    }
}
