@import '../../../styles/abstract/variables';

.btn {
    border-radius: 5px;
    max-width: 15rem;
    transition: all 0.35s ease;
    border: 2px solid transparent;
    box-shadow: $shadow-light;

    &:hover {
        border-radius: 30px;
    }

    * {
        cursor: inherit;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;

        &:hover {
            border-radius: 5px;
        }
    }
}

.btn-primary {
    color: $color-primary-light-2;
    background-color: $color-primary-dark-1;
    border-color: $color-primary-dark-1;

    &:hover {
        color: #fff;
        background-color: $color-primary-dark-2;
        border-color: $color-primary-dark-2;
    }
}

.btn-primary-empty {
    color: $color-primary-dark-1;
    background-color: transparent;
    border: 2px solid $color-primary;

    &:hover {
        background-color: $color-primary-dark-1;
        color: #fff;
    }
}

.btn-secondary {
    color: $color-secondary-light-2;
    background-color: $color-secondary-dark-1;

    &:hover {
        color: #fff;
        background-color: $color-secondary-dark-2;
    }
}

.btn-tertiary {
    color: $color-tertiary-light-2;
    background-color: $color-tertiary-dark-1;

    &:hover {
        color: #fff;
        background-color: $color-tertiary-dark-2;
    }
}

.btn-warning {
    color: $color-amber-light-1;
    background-color: lighten($color-amber, 0%);

    &:hover {
        color: #fff;
        background-color: $color-amber-dark-1;
    }
}

.btn-danger {
    color: $color-rose-light-2;
    background-color: lighten($color-rose-dark-1, 10%);

    &:hover {
        color: #fff;
        background-color: $color-rose-dark-1;
    }
}

.btn-small {
    font-size: 1.1rem;
    padding: 0.3rem 0.6rem;
    min-width: 60px;
}

.btn-medium {
    font-size: 1.2rem;
    padding: 0.5rem 0.9rem;
    min-width: 92px;
}

.btn-medium-large {
    font-size: 1.3rem;
    padding: 0.7rem 1.35rem;
    min-width: 102px;
}

.btn-large {
    font-size: 1.6rem;
    padding: 0.7rem;
    min-width: 122px;
}
