.modal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: $color-primary-dark-3;
    padding: 0.7rem 1.4rem;

    width: 32rem;
    left: calc(50% - 16rem);

    @include respond(phone) {
        width: 92vw;
        left: calc(50% - 46vw);
    }
}

@mixin icon-basic {
    max-width: 2.1rem;
    cursor: pointer;
}

.icon-basic {
    @include icon-basic;
}

.mui-light-select {
    // select box border
    .MuiOutlinedInput-root {
        // border: 1px solid white;
        color: white;
        z-index: 2;
    }

    // label
    .MuiInputLabel-formControl {
        color: white !important;
        z-index: 3;
    }

    // select down-side icon
    .MuiSvgIcon-root {
        color: white;
    }

    // input
    //.MuiSelect-nativeInput {
    // color: white;
    //}
}

.calendar-nav-button {
    .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        text-transform: capitalize !important;
        padding: 0 !important;
    }
}
