@import "../../styles/main";

.container {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

.pagenav {
	display: flex;
	align-items: center;
	font-size: 1.15rem;

	.text {
		margin: 0 .9rem;
	}

	.icon {
		color: $color-primary-dark-3;
		width: 25px;
		height: 25px;
		padding: 10px;
		border-radius: 100px;
		@include flex-center;
		font-size: 10px;

		&:hover {
			background-color: $color-primary-dark-3;
			color: $color-primary-light-1;
		}
	}
}
