/* 
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
1200 - 1800px: is where our normal style applies
1800 + : Big Desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/
.huge-heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 3.5rem;
  font-weight: 400;
}

.app-heading {
  font-size: 2.8rem;
  line-height: 3rem;
}

@media only screen and (max-width: 75em) {
  .app-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: tab-land) {
  .app-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .app-heading {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: phone) {
  .app-heading {
    font-size: 2.2rem;
  }
}

.status-open {
  color: #0f766e !important;
}

.status-open-bg {
  background-color: rgba(15, 118, 110, 0.6) !important;
}

.status-completed {
  color: #0369a1 !important;
}

.status-completed-bg {
  background-color: rgba(3, 105, 161, 0.6) !important;
}

.status-inprogress {
  color: #4338ca !important;
}

.status-inprogress-bg {
  background-color: rgba(67, 56, 202, 0.6) !important;
}

.status-overdue {
  color: #f55772 !important;
}

.status-overdue-bg {
  background-color: rgba(245, 87, 114, 0.6) !important;
}

.status-cancelled {
  color: #999;
}

.status-cancelled-bg {
  background-color: rgba(153, 153, 153, 0.6);
}

@-webkit-keyframes UpDown {
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes UpDown {
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes AppearFromLeft {
  from {
    max-width: 0;
  }
  to {
    max-width: 1000px;
  }
}

@keyframes AppearFromLeft {
  from {
    max-width: 0;
  }
  to {
    max-width: 1000px;
  }
}

@-webkit-keyframes Spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.icon-basic {
  max-width: 2.1rem;
  cursor: pointer;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  color: #334155;
  padding: .7rem 1.4rem;
  width: 32rem;
  left: calc(50% - 16rem);
}

.mui-light-select .MuiOutlinedInput-root {
  color: white;
  z-index: 2;
}

.mui-light-select .MuiInputLabel-formControl {
  color: white !important;
  z-index: 3;
}

.mui-light-select .MuiSvgIcon-root {
  color: white;
}

.container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.15rem;
  color: #334155;
}

.pagenav .text {
  margin: 0 .9rem;
}

.pagenav .icon {
  max-width: 2.1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  padding: 10px;
  border-radius: 100px;
  font-size: 10px;
}

.pagenav .icon:hover {
  background-color: #334155;
  color: #f1f5f9;
}

.pagenav .disabled:hover {
  background-color: transparent;
  color: inherit;
  opacity: .6;
  cursor: not-allowed;
}
/*# sourceMappingURL=PageNav.module.css.map */