@keyframes UpDown {
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes UpDownLarge {
    0% {
        opacity: 0;
        transform: translateY(-30rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes AppearFromLeft {
    from {
        max-width: 0;
    }
    to {
        max-width: 1000px;
    }
}

@keyframes Spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes LeftRightDrawing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
