@keyframes UpDown {
	50% {
		transform: translateY(-.5rem);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes AppearFromLeft {
	from {
		max-width: 0;
	}
	to {
		max-width: 1000px;
	}
}
