.parent-hider {
    .child-hider {
        transition: all 0.35s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }

    &:hover .child-hider {
        opacity: 1;
        visibility: visible;
    }
}
