.w-max-content {
    width: max-content;
}

.parent-hider {
    .child-hider {
        transition: opacity 0.35s ease-in-out;
        visibility: hidden;
        opacity: 0;
        order: 100;
    }

    &:hover .child-hider {
        opacity: 1;
        visibility: visible;
        order: 0;
    }
}

.hide-scrollbar {
    @include hide-scrollbar;
}

.pos-horizontal-center {
    @include pos-horizontal-center;
}

.underline-from-start {
    @include underline-from-start;
}

.underline-from-middle {
    @include underline-from-middle;
}
