@mixin after-underline($color-1, $color-2) {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, $color-1, $color-2);
}

@mixin flex-center($direction: null) {
    display: flex;
    justify-content: center;
    align-items: center;
    @if (direction == 'row' or direction == 'column') {
        flex-direction: direction;
    }
}

@mixin pos-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin pos-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin heading-underline($color-1, $color-2) {
    font-size: 2.2rem;
    position: relative;

    &::after {
        @include after-underline($color-1, $color-2);
    }
}

@mixin hide-scrollbar() {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    // Chrome and Safari
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin img-background() {
    // Next JS image adjustment.
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
}

@mixin invalid-input {
    border: 1.5px solid rgb(236, 72, 153);
    background-color: rgb(253, 242, 248);

    &:focus {
        border: 1.5px solid rgb(236, 72, 153);
    }
}

/* 
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
1200 - 1800px: is where our normal style applies
1800 + : Big Desktop
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
    @if ($breakpoint == phone-small) {
        // If someone tries to print out the page, this media query will not apply.
        @media only screen and (max-width: 25em) {
            // 400 px
            @content;
        }
    }
    @if ($breakpoint == phone) {
        @media only screen and (max-width: 37.5em) {
            // 600px
            @content;
        }
    }
    @if ($breakpoint == tab-port) {
        @media only screen and (max-width: 56.25em) {
            // 900px
            @content;
        }
    }
    @if ($breakpoint == tab-land) {
        @media only screen and (max-width: 75em) {
            // 1200px
            @content;
        }
    }
    @if ($breakpoint == big-desktop) {
        @media only screen and (min-width: 112.5em) {
            // 1800px
            @content;
        }
    } @else {
        @media only screen and (max-width: $breakpoint) {
            // custom value media query
            @content;
        }
    }
}
