$color-primary-light-1: rgb(241, 245, 249);
$color-primary-light-2: rgb(226, 232, 240);
$color-primary-light-3: rgb(203, 213, 225);
$color-primary-light-4: rgb(203, 213, 225);
$color-primary: rgb(148, 163, 184);
$color-primary-dark-1: rgb(100, 116, 139);
$color-primary-dark-2: rgb(71, 85, 105);
$color-primary-dark-3: rgb(51, 65, 85);
$color-primary-dark-4: rgb(30, 41, 59);
$color-primary-dark-5: rgb(15, 23, 42);

$color-secondary-light-1: rgb(240, 249, 255);
$color-secondary-light-2: rgb(224, 242, 254);
$color-secondary-light-3: rgb(186, 230, 253);
$color-secondary-light-4: rgb(125, 211, 252);
$color-secondary: rgb(56, 189, 248);
$color-secondary-dark-1: rgb(14, 165, 233);
$color-secondary-dark-2: rgb(2, 132, 199);
$color-secondary-dark-3: rgb(3, 105, 161);
$color-secondary-dark-4: rgb(7, 89, 133);
$color-secondary-dark-5: rgb(12, 74, 110);

$color-tertiary-light-1: rgb(239, 246, 255);
$color-tertiary-light-2: rgb(219, 234, 254);
$color-tertiary-light-3: rgb(191, 219, 254);
$color-tertiary-light-4: rgb(147, 197, 253);
$color-tertiary: rgb(96, 165, 250);
$color-tertiary-dark-1: rgb(59, 130, 246);
$color-tertiary-dark-2: rgb(37, 99, 235);
$color-tertiary-dark-3: rgb(29, 78, 216);
$color-tertiary-dark-4: rgb(30, 64, 175);
$color-tertiary-dark-5: rgb(30, 58, 138);

$color-indigo-light-1: rgb(238, 242, 255);
$color-indigo-light-2: rgb(224, 231, 255);
$color-indigo-light-3: rgb(199, 210, 254);
$color-indigo-light-4: rgb(165, 180, 252);
$color-indigo: rgb(129, 140, 248);
$color-indigo-dark-1: rgb(99, 102, 241);
$color-indigo-dark-2: rgb(79, 70, 229);
$color-indigo-dark-3: rgb(67, 56, 202);
$color-indigo-dark-4: rgb(55, 45, 163);
$color-indigo-dark-5: rgb(49, 46, 129);

$color-teal-light-1: rgb(240, 253, 250);
$color-teal-light-2: rgb(204, 251, 241);
$color-teal-light-3: rgb(153, 246, 228);
$color-teal-light-4: rgb(94, 234, 212);
$color-teal: rgb(45, 212, 191);
$color-teal-dark-1: rgb(20, 184, 166);
$color-teal-dark-2: rgb(12, 148, 136);
$color-teal-dark-3: rgb(15, 118, 110);
$color-teal-dark-4: rgb(17, 94, 89);
$color-teal-dark-5: rgb(19, 78, 74);

$color-pink-light-1: rgb(253, 242, 248);
$color-pink-light-2: rgb(252, 231, 243);
$color-pink-light-3: rgb(251, 207, 232);
$color-pink-light-4: rgb(249, 168, 212);
$color-pink: rgb(244, 114, 182);
$color-pink-dark-1: rgb(236, 72, 153);
$color-pink-dark-2: rgb(219, 39, 119);
$color-pink-dark-3: rgb(190, 24, 93);
$color-pink-dark-4: rgb(157, 23, 77);
$color-pink-dark-5: rgb(131, 24, 67);

$color-rose-light-1: rgb(255, 241, 242);
$color-rose-light-2: rgb(255, 228, 230);
$color-rose-light-3: rgb(254, 205, 211);
$color-rose-light-4: rgb(253, 164, 175);
$color-rose: rgb(251, 113, 133);
$color-rose-dark-1: rgb(244, 63, 94);
$color-rose-dark-2: rgb(225, 29, 72);
$color-rose-dark-3: rgb(190, 18, 60);
$color-rose-dark-4: rgb(159, 18, 57);
$color-rose-dark-5: rgb(136, 19, 55);

$color-yellow-light-1: rgb(254, 252, 232);
$color-yellow-light-2: rgb(254, 249, 195);
$color-yellow-light-3: rgb(254, 240, 138);

$color-amber-light-1: rgb(255, 251, 235);
$color-amber-light-2: rgb(254, 243, 199);
$color-amber-light-3: rgb(253, 230, 138);
$color-amber-light-4: rgb(252, 211, 77);
$color-amber: rgb(251, 191, 36);
$color-amber-dark-1: rgb(245, 158, 11);
$color-amber-dark-2: rgb(217, 119, 6);
$color-amber-dark-3: rgb(180, 83, 9);
$color-amber-dark-4: rgb(146, 64, 14);
$color-amber-dark-5: rgb(120, 53, 15);

// For light backfound / font
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #ddd;
$color-grey-light-3: #ccc;
$color-grey-light-5: #5e5151;

$color-grey-dark-1: #aaa;
$color-grey-dark-2: #999;
$color-grey-dark-3: #777;
$color-grey-dark-4: #555;
$color-grey-dark-5: #333;
$color-grey-dark-6: rgb(65, 62, 62);

$color-black: #111;

$shadow-light: 0 1rem 5rem rgba(0, 0, 0, 0.1);
$shadow-dark: 0 1rem 6rem rgba(0, 0, 0, 0.25);

// Components size
$navbar-width: 195.75px;

$default-font-size: 1.15rem;

$small-font-size: 1rem;
$large-font-size: 1.5rem;
