$color-primary-light-1: rgb(241, 245, 249);
$color-primary-light-2: rgb(226, 232, 240);
$color-primary-light-3: rgb(203, 213, 225);
$color-primary-light-4: rgb(203, 213, 225);
$color-primary: rgb(148, 163, 184);
$color-primary-dark-1: rgb(100, 116, 139);
$color-primary-dark-2: rgb(71, 85, 105);
$color-primary-dark-3: rgb(51, 65, 85);
$color-primary-dark-4: rgb(30, 41, 59);
$color-primary-dark-5: rgb(15, 23, 42);

// For light backfound / font
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #ccc;
$color-grey-light-5: #5e5151;

$color-grey-dark-1: #aaa;
$color-grey-dark-2: #999;
$color-grey-dark-3: #777;
$color-grey-dark-4: #555;
$color-grey-dark-5: #333;
$color-grey-dark-6: rgb(65, 62, 62);

$shadow-light: 0 2rem 5rem rgba(0, 0, 0, .15);
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
