@import '../../../styles/main';

.search-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    color: $color-primary-dark-2;

    & > *:not(:last-child) {
        margin-bottom: 2rem;
    }

    h1 {
        margin-top: 4rem;
        margin-bottom: 2rem;

        .icon {
            margin-right: 0.5rem;
        }
    }

    .label {
        @include flex-center;
        width: min-content;
        padding: 0.5rem 1rem;
        font-size: 1.15rem;
        font-weight: 500;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        & > * {
            white-space: nowrap;
            @include flex-center;
        }

        strong {
            margin-right: 0.5rem;
        }
    }

    .label-weekly-planner {
        background-color: $color-primary-light-2;
        color: $color-primary-dark-3;

        strong {
            color: $color-primary;
        }
    }

    .label-monthly-planner {
        background-color: $color-secondary-light-2;
        color: $color-secondary-dark-3;

        strong {
            color: $color-secondary-light-4;
        }
    }

    .label-yearly-planner {
        background-color: $color-tertiary-light-2;
        color: $color-tertiary-dark-3;

        strong {
            color: $color-tertiary-light-4;
        }
    }

    .label-event {
        background-color: $color-secondary-light-2;
        color: $color-secondary-dark-3;

        strong {
            color: $color-secondary-light-4;
        }
    }
}
