@import "../../styles/abstract/mixins";

.container {
    overflow-y: scroll;
    @include hide-scrollbar;
    height: 100%;

    // Next JS image adjustment.
    & > span {
        @include img-background;
    }
}

.img {
    position: absolute;
    object-fit: cover; // important for aspect ratio
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(90%);
    transition: all 1s ease-in-out;
    animation: AppearGently 1s linear 0s;
}

@keyframes AppearGently {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
