@import "../../../styles/main";

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	z-index: 10;

	padding: .75rem 1rem;

	@include respond(phone) {
		flex-direction: column;
		& > * {
			width: 100%;
			display: flex;
		}
	}

	.nav,
	.heading {
	}

	.heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: auto;
	}

	.heading-inner {
		display: flex;
		align-items: center;
		gap: 2.5rem;

		margin-left: auto;
		padding: 0 1rem;
		.search {
			@include respond(phone) {
			}
		}
		.search-icon {
			display: none;
			margin-left: auto;
			@include respond(phone) {
				display: inline-block;
			}
		}
	}
}
