/* 
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
1200 - 1800px: is where our normal style applies
1800 + : Big Desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding-left: 5px;
  margin-bottom: 0.3rem;
  cursor: pointer;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container .text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/* Create a custom checkbox */
.checkmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15px;
  width: 15px;
  background-color: #eee;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.container input:checked ~ .checkmark-Event {
  background-color: #0ea5e9 !important;
}

.container input:checked ~ .checkmark-Task {
  background-color: #3b82f6 !important;
}

.container input:checked ~ .checkmark-TodoList {
  background-color: #6366f1 !important;
}

.container input:checked ~ .checkmark-Open {
  background-color: #309f95 !important;
}

.container input:checked ~ .checkmark-Cancelled {
  background-color: #a1a1aa !important;
}

.container input:checked ~ .checkmark-InProgress {
  background-color: rgba(67, 56, 202, 0.7) !important;
}

.container input:checked ~ .checkmark-Overdue {
  background-color: rgba(245, 87, 114, 0.8) !important;
}

.container input:checked ~ .checkmark-Crucial {
  background-color: #fb7185 !important;
}

.container input:checked ~ .checkmark-Important {
  background-color: rgba(251, 113, 133, 0.9) !important;
}

.container input:checked ~ .checkmark-Nicetohave {
  background-color: rgba(251, 113, 133, 0.75) !important;
}

.container input:checked ~ .checkmark-Trivial {
  background-color: rgba(251, 113, 133, 0.6) !important;
}

.container input:checked ~ .checkmark-Extra {
  background-color: rgba(251, 113, 133, 0.45) !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*# sourceMappingURL=Checkbox.module.css.map */