@import "../../styles/main";

.search {
	// @include flex-center('column');
	display: flex;
	flex-direction: column;
	// align-items: center;
	justify-content: center;
	& > * {
		$width: 66rem;
		margin-left: calc(#{$navbar-width} + (100% - #{$navbar-width} - #{$width}) / 2);
		width: clamp(50%, $width, 66rem);
	}
}
