@import '../../../styles/main';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    z-index: 10;

    padding: 0.5rem 1rem;

    @include respond(950px) {
        flex-direction: column;
        & > * {
            width: 100%;
            display: flex;
        }
    }

    .heading {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    .heading-inner {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 2.5rem;

        margin-left: auto;
        padding: 0 1rem;
        padding-right: 0.25rem;

        .search-icon {
            display: none;
            margin-left: auto;
            @include respond(950px) {
                display: inline-block;
            }
        }
    }
}

.app-name.hide {
    @include respond(600px) {
        display: none !important;
    }
}

.search.hide {
    @include respond(950px) {
        display: none !important;
    }
}
