@import '../../../styles/abstract/variables';
@import '../../../styles/abstract/mixins';

$layout-bp: 1450px;

.container {
    .toggler {
        display: none;
    }

    @include respond($layout-bp) {
        flex-direction: column;
        gap: 0.25rem;
        align-items: stretch;
        margin-bottom: 0.9rem;

        & > *:nth-child(2) {
            background-color: $color-primary-light-2;
            align-self: stretch;
            padding: 0.4rem 0.3rem;
            border-radius: 5px;
        }

        .toggler {
            display: flex;
        }

        .hide {
            display: none;
        }
    }

    .navigation {
        @include respond(900px) {
        }
    }
}
