@import "../../../styles/main";

.spinner {
	@include flex-center;
	position: relative;
	width: 80px;
	height: 80px;
}

.spinner::after {
	content: '';
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 6px solid $color-primary;
	border-color: $color-primary transparent $color-primary transparent;
	animation: Spinner 1.2s linear infinite;
}

.spinner-small {
	width: 35px;
	height: 35px;

	&::after {
		width: 20px;
		height: 20px;
		border-width: 3.5px;
	}
}

.spinner-medium {
	width: 70px;
	height: 70px;

	&::after {
		width: 50px;
		height: 50px;
		border-width: 5px;
	}
}

.spinner-large {
	width: 100px;
	height: 100px;

	&::after {
		width: 70px;
		height: 70px;
		border-width: 7.5px;
	}
}
