@tailwind base;
@tailwind components;
@tailwind utilities;
@import './main';

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* Smooth scrolling when clicking <a> tag with #link */
    scroll-behavior: smooth;
    min-height: 100vh;

    @include respond(tab-land) {
        // width < 1200
        font-size: 95%;
    }
    @include respond(phone) {
        // width < 600
        font-size: 89%;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary-dark-1;
    color: $color-primary-light-1;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
select {
    background-color: #f4f2f2;
}

select,
option {
    cursor: pointer;
}

@layer components {
    .icon-small {
        @apply max-w-[1rem] max-h-[1rem] inline-block mr-1;
    }
    .icon-medium {
        @apply max-w-[1.35rem] max-h-[1.35rem] inline-block;
    }
    .icon-large {
        @apply max-w-[2.2rem] max-h-[2.2rem] inline-block mr-1;
    }
    .thinner-btn {
        @apply max-h-[2.7rem] flex justify-center items-center;
    }
    .error-message {
        @apply text-rose-500/90;
    }
    .flex-center {
        @apply flex justify-center items-center;
    }
    // This assumes the parent element has a position property like relative or fixed
    .pos-center {
        @apply absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%];
    }
    .full-w-h {
        @apply w-full h-full;
    }
}
