@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';

.main {
    // grid layout
    .video-intro {
        @include respond(1024px) {
            justify-items: center;
            .video-container {
                max-width: 38rem;
            }
            .video-explanation {
                max-width: 36rem;
            }
        }
    }

    .feature .heading svg {
        font-size: 125%;
    }

    .features-grid {
        @include respond(1024px) {
            .feature {
                grid-column: span 2;
                max-width: 30rem;
            }
        }
    }

    .heading {
        text-transform: capitalize;
    }

    .sub {
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 600;
    }

    button {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

        &:hover {
            box-shadow: 0 5px 13.5px rgba(0, 0, 0, 0.35);
        }
    }
}

.section-pink {
    .video-intro {
        .icon {
            color: #d946ef !important;
        }
    }

    .heading {
        color: $color-pink-dark-3;
    }

    mark {
        color: $color-pink-dark-1;
        background-color: inherit;
    }

    .feature {
        border: 2px solid rgba($color-pink, 0.3);

        .icon {
            color: $color-pink;
        }
    }
}

.section-sky {
    .heading {
        color: $color-secondary-dark-2;

        svg {
            color: $color-secondary;
        }
    }

    mark {
        color: $color-secondary-dark-1;
        background-color: inherit;
    }

    .video-intro,
    .features-grid {
        a {
            color: $color-secondary-dark-1;
        }
    }

    .feature {
        border: 2px solid rgba($color-secondary, 0.3);

        .icon {
            color: $color-secondary;
        }
    }
}

.section-blue {
    .heading {
        color: $color-tertiary-dark-2;

        svg {
            color: $color-tertiary;
        }
    }

    mark {
        color: $color-tertiary-dark-1;
        background-color: inherit;
    }

    .video-intro,
    .features-grid {
        a {
            color: $color-tertiary-dark-1;

            &:hover {
                text-decoration: underline;
                text-decoration-color: $color-tertiary-dark-1;
                text-underline-offset: 3px;
            }
        }
    }

    .feature {
        border: 2px solid rgba($color-tertiary, 0.3);

        .icon {
            color: $color-tertiary;
        }
    }
}

.section-indigo {
    .heading {
        color: $color-indigo-dark-2;

        svg {
            color: $color-indigo;
        }
    }

    mark {
        color: $color-indigo-dark-1;
        background-color: inherit;
    }

    .video-intro,
    .features-grid {
        a {
            color: $color-indigo-dark-1;

            &:hover {
                text-decoration: underline;
                text-decoration-color: $color-indigo-dark-1;
                text-underline-offset: 3px;
            }
        }
    }

    .feature {
        border: 2px solid rgba($color-indigo, 0.3);

        .icon {
            color: $color-indigo;
        }
    }
}
